name: Deploy Infra + App to GKE

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  IMAGE_NAME: hello-app

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - uses: actions/checkout@v4

      # ---------------------------------------------------------------
      # Authenticate to GCP
      # ---------------------------------------------------------------
      - name: Authenticate to GCP for Terraform
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      # ---------------------------------------------------------------
      # Terraform – Create/Update Infra
      # ---------------------------------------------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: terraform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve -var="project_id=${{ secrets.GCP_PROJECT_ID }}"


      # ---------------------------------------------------------------
      # Security – Vulnerability Scan (Trivy)
      # ---------------------------------------------------------------
      - name: Install Trivy
        run: |
          sudo apt-get update
          sudo apt-get install -y wget
          wget https://github.com/aquasecurity/trivy
